<!--

<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
  </div>
<% end %>

<div data-hook="homepage_products">
  <%= render :partial => 'spree/shared/products', :locals => { :products => @products } %>
</div>

-->


<div class="mainbox promobox promobox-create">
  <div class="row">
    <div class="span7">
      <h1>Создай предмет со своим дизайном и надписью</h1>
    </div>
  </div>
  <div class="promopicture"></div>
  <div class="row">
    <div class="span4">
      <h2>Используя удобные сервисы моделирования предметов и технологию 3D-печати, получай вещи, которых ни у кого
        никогда не было.</h2>
    </div>
  </div>
  <div class="bottom">
    <div class="inner">
      <div class="row">
        <div class="span4">
          <p><a class="btn btn-primary">Создать предмет</a></p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row row-header">
  <div class="span6">
    <h2><a href="#" title="Показать еще товары 3D-печати">Магазин 3D-печати</a></h2>
  </div>
  <div class="span6 moreLink">
    <a href="#" title="Показать еще товары 3D-печати">Больше товаров &raquo;</a>
  </div>
</div>


<div class="mainbox row">
  <a href='#' class="span3 product">
    <div class="inner">
      <img src="/img/products/1.png"/>

      <div class="title">Открывалка Klein</div>
      <div class="price-button">250 руб.</div>
      <div class="reset"></div>
    </div>
  </a>
  <a href='#' class="span3 product">
    <div class="inner">
      <img src="/img/products/2.png"/>

      <div class="title">Ветряной шагатель</div>
      <div class="price-button">750 руб.</div>
      <div class="reset"></div>
    </div>
  </a>
  <a href='#' class="span3 product">
    <div class="inner">
      <img src="/img/products/3.png"/>

      <div class="title">Кольцо Woman</div>
      <div class="price-button">200 руб.</div>
      <div class="reset"></div>
    </div>
  </a>
  <a href='#' class="span3 product">
    <div class="inner">
      <img src="/img/products/4.png"/>

      <div class="title">Набор костей с шипами</div>
      <div class="price-button">350 руб.</div>
      <div class="reset"></div>
    </div>
  </a>
</div>

<div class="row row-header">
  <div class="span6">
    <h2><a href="#" title="Показать все магазины">Магазины партнеров</a></h2>
  </div>
  <div class="span6 moreLink">
    <a href="#" title="Показать все магазины">Больше магазинов &raquo;</a>
  </div>
</div>

<div class="mainbox row">
  <a href='#' class="span3 shop">
    <div class="inner">
      <img src="/img/shops/nervous.jpg"/>

      <div class="title">Nervous system</div>
    </div>
  </a>
  <a href='#' class="span3 shop">
    <div class="inner">
      <img src="/img/shops/charcoal_atmospheres.jpg"/>

      <div class="title">Charcoal.Atmospheres</div>
    </div>
  </a>
  <a href='#' class="span3 shop">
    <div class="inner">
      <img src="/img/shops/3diversity.jpg"/>

      <div class="title">3Diversity</div>
    </div>
  </a>
  <a href='#' class="span3 shop">
    <div class="inner">
      <img src="/img/shops/onecup.jpg"/>

      <div class="title">One cup a day</div>
    </div>
  </a>
</div>


<div class="mainbox promobox promobox-start">
  <div class="row">
    <div class="span7">
      <h1>Воплощай собственные идеи с сервисом 3D-печати Modeliter</h1>
    </div>
  </div>
  <div class="promopicture"></div>
  <div class="row">
    <div class="span5">
      <ul>
        <li>Моделируй и обменивайся моделями с другими дизайнерами<br/>
          <a href="#">Как моделировать для 3D-печати</a>
        </li>
        <li>Открой свой магазин и продавай распечатанные 3D-модели по всему миру</li>
      </ul>
    </div>
  </div>
  <div class="bottom">
    <div class="inner">
      <div class="row">
        <div class="span4">
          <p><a class="btn btn-primary">Открой свой магазин</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

