<header id="header" class="navbar" data-hook>
	<div class="row">
		<div class="span2">
	    <a class="brand" href="/"></a>
		</div>
		<div class="span3 block mission">
		  Сервис 3D-печати
		</div>
		<div class="span5">
	    <%= render 'spree/layouts/navigation' %>
		</div>
	  <div class="span2 block phone">
	    8 917 888-17-27<br>
			<span class="call_to_action">Есть вопросы? Звоните!</span>
	  </div>
	</div>



    <!--<div class="upload"><a href="#" class="upload-button">Распечатать свою 3D-модель</a></div>-->
</header>
