<h2>О сервисе</h2>
<p>Modeliter - это кардинально новый способ превращения своих идей в материальные объекты.<br/>
Мы создаем настоящие предметы из рисунков так, как это делается в самых смелых сказках!</p>

<h3>Контакты</h3>
<table cellpadding = 5>
	<tr>
		<td>Телефон</td>
		<td>+7 917 888-17-27</td>
	</tr>
  <tr>
    <td>Электронная почта</td>
    <td>info@modeliter.ru</td>
  </tr>
  <tr>
    <td>Адрес</td>
    <td>Казань, ул.Петербургская, 52 (ИТ-парк)</td>
  </tr>
</table>

<h3>Реквизиты</h3>
<table cellpadding = 5>
  <tr>
    <td>ИП</td>
    <td>Кислухин Д.В.</td>
  </tr>
  <tr>
    <td>ИНН</td>
    <td>165715034223</td>
  </tr>
  <tr>
    <td>ОГРНИП</td>
    <td>311169025600237</td>
  </tr>
</table>