<h2>Доставка</h2>
<p>Доставка Modeliter осуществляется в крупнейшие города России курьерской службой
 (на выбор клиента, стоимость: 500 рублей) или Почтой России (100 рублей).<br/>
  При доставке гарантируется полная сохранность заказа, а это означает, что
  в случае повреждения заказ будет заменен бесплатно и полностью.</p>

<p>При заполнении формы заказа рекомендуем указать ФИО и
мобильный телефон получателя заказа, чтобы обеспечить возможность связи с ним в случае необходимости.</p>