<div class="customizer">
	<div class="pre-h1">
		<%= link_to I18n.t("breadcrumbs.customizers.index"), "/create" %> &rarr;
	  <%= I18n.t("breadcrumbs.customizers.customizer") %>
	</div>
  <%= render :partial => get_form_partial(@customizer),
             :locals => {:customizer => @customizer, :submit_title => t(:ready)} %>
</div>